
.navigator  h2 ,.navigator > h4 {
  display: inline-block;
}

.navigator > h2 {
  color: #fff;
  margin-right: 10px;
}

.navigator > h4 {
  color: #bbb;
}

.content {
  display: flex;
  background-color: #bbbbbb;
}


.area {
  width: 50%;
  padding: 10px;
  background-color: white;
  box-sizing:border-box;
}

.area:first-child {
  border-right: gray 1px solid;
}

.config {
  margin-top: 20px;
  padding-top: 10px;
  border-top: #bbbbbb 1px solid;
}

.config h5 {
  display: inline-block;
  font-size: 15px;
  margin-right: 10px;
}

.config .row {
  height: 44px;

}

.config > h4 {
  color: #666666;
}

.UIButton {
  width: 100px;
  height: 80px;
  padding: 2px;
  color: #307CFF;
  font-size: 15px;
  border: transparent 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.UILabel {
  width: 44px;
  height: 21px;
  padding: 2px;
  color: #000000;
  font-size: 17px;
  border: transparent 0 none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.UIView {
  width: 100px;
  height: 80px;
  border: transparent 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview {
  border-bottom: gray 1px solid;
  margin-bottom: 10px;
  min-height: 30%;
  /*text-align: center;*/
}

.codeShow {
  position: relative;
  height: 70%;
}

.sourceCode {
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 10px;
  right: 10px;
}